@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme inline {
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cyan-50: #f9fbfb;
  --color-cyan-100: #ddedee;
  --color-cyan-200: #bce5e6;
  --color-cyan-300: #95e2e5;
  --color-cyan-400: #67e5e9;
  --color-cyan-500: #43e2eb;
  --color-cyan-600: #0fdbe2;
  --color-cyan-700: #0ea9ae;
  --color-cyan-800: #0b777b;
  --color-cyan-900: #074648;
  --color-cyan-950: #031617;
  --color-pink-50: #fbf9fa;
  --color-pink-100: #ecdde6;
  --color-pink-200: #e2bdd4;
  --color-pink-300: #dd97c3;
  --color-pink-400: #dd6cb3;
  --color-pink-500: #e23ca5;
  --color-pink-600: #c9208b;
  --color-pink-700: #9b1a6c;
  --color-pink-800: #6e144d;
  --color-pink-900: #410c2e;
  --color-pink-950: #15040f;
  --color-primary-50: #f9f9fb;
  --color-primary-100: #dadceb;
  --color-primary-200: #b6bbdf;
  --color-primary-300: #8d96d9;
  --color-primary-400: #5f6dd8;
  --color-primary-500: #2c40db;
  --color-primary-600: #1428c4;
  --color-primary-700: #0719a2;
  --color-primary-800: #071372;
  --color-primary-900: #050c44;
  --color-primary-950: #020517;
  --color-purple-50: #faf9fb;
  --color-purple-100: #e5ddea;
  --color-purple-200: #d1bede;
  --color-purple-300: #be9ad6;
  --color-purple-400: #ab72d1;
  --color-purple-500: #9945d2;
  --color-purple-600: #8623c7;
  --color-purple-700: #681d99;
  --color-purple-800: #4a166c;
  --color-purple-900: #2c0e40;
  --color-purple-950: #0e0515;
  --color-black: #000000;
  --color-white: #ffffff;
  --line-color: var(--color-purple-200);
  --line-color-dark: var(--color-purple-800);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-urbanist);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  @apply text-purple-800 dark:text-white bg-purple-50 dark:bg-purple-900;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: none;
}

h1 {
  @apply font-heading font-light  text-[58px] leading-[80%] sm:text-[72px] md:text-[92px] lg:text-[120px] xl:text-[160px] uppercase tracking-tighter text-cyan-800 dark:text-cyan-500 -ml-[0.5%];
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-heading text-pink-700 dark:text-pink-500  inline-block  font-semibold text-[34px] leading-[80%] sm:text-[42px] md:text-[52px] lg:text-[52px] uppercase text-center;
  font-family: var(--font-heading), var(--font-sans), Arial, Helvetica,
    sans-serif;
}
.top-line {
  @apply before:absolute before:top-0 before:z-10 before:h-px before:w-[200vw] before:bg-purple-900/20 dark:before:bg-white/10 before:-left-[100vw];
}

.bottom-line {
  @apply after:absolute after:z-10 after:bottom-0 after:h-px after:w-[200vw] after:bg-purple-900/20 dark:after:bg-white/10 after:-left-[100vw];
}
.pattern-bg {
  @apply bg-[repeating-linear-gradient(45deg,#2c0e4030_0,#2c0e4030_1px,#ffffff00_1,#ffffff00_50%)] dark:bg-[repeating-linear-gradient(45deg,#4a166c_0,#4a166c_1px,#ffffff00_1,#ffffff00_50%)] bg-size-[8px_8px];
}
.border-line {
  @apply border border-purple-900/20 dark:border-white/10;
}
.text-circle {
  @apply fill-current;
  animation: rotate 25s linear infinite;
  transform-origin: 250px 250px;
}

.html-content {
  @apply flex justify-center items-start flex-col p-4 text-center lg:text-left text-lg lg:text-xl lg:leading-8 leading-6 gap-4  mr-auto text-purple-800 dark:text-purple-200 font-medium;

  & strong {
    @apply font-bold text-white py-0.5 px-1 bg-pink-600 dark:bg-pink-600 whitespace-nowrap;
  }
}

.light-content {
  @apply flex justify-center items-start flex-col p-4 text-center lg:text-left text-base lg:text-lg lg:leading-8 leading-6 gap-4  mr-auto text-purple-800 dark:text-purple-200 font-normal;

  & strong {
    @apply font-semibold text-white py-0.5 px-1 bg-pink-600 dark:bg-pink-600 whitespace-nowrap;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}
p {
  @apply w-full;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}
